.chat-container {
  width: (100vh - 250px);
  max-width: 700px;
  height: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  margin-left: 300px;
  margin-top: 10px;
}

.chat-header {
  background: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.chat-box {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background: #f9fafb;
}

.chat-message {
  /* max-width: 70%; */
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 12px;
  font-size: 15px;
  line-height: 1.4;
}

.user-message {
  background: #4caf50;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.bot-message {
  background: #e5e7eb;
  color: #333;
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}

.chat-input-container {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input {
  flex: 1;
  border: none;
  padding: 12px;
  font-size: 15px;
  outline: none;
}

.send-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s;
}

.send-btn:hover {
  background: #45a049;
}
